block link-section 
	- let sidebar = { 'Home': './','Clean Table': './clean_table.html','CTA': './cta.html' ,'Line': './line.html','Spacer Gif': './spacer_gif.html' ,'Spacer Padding': './spacer_padding.html' ,'Switch Image': './switch_image.html' ,'Text Copy': './text_copy.html' ,'Round Corners': './round_corners.html'};

aside(itemscope="itemscope" itemtype="http://schema.org/WPSideBar" role="complementary").ed-item.l-25 
	.vertical-menu-toggle.to-l#vertical-menu-toggle(data-content="Filtros")
	nav(itemscope itemtype="http://schema.org/WPSideBar").vertical-menu#vertical-menu 
		ul
			each val, key in sidebar 
				li
					a(href=val title= "Enlace de " + key)= key
